apiVersion: apps/v1
kind: Deployment
metadata:
  name: descheduler-operator
  namespace: openshift-kube-descheduler-operator
spec:
  replicas: 1
  selector:
    matchLabels:
      name: descheduler-operator
  template:
    metadata:
      labels:
        name: descheduler-operator
    spec:
      containers:
        - name: descheduler-operator
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            capabilities:
              drop: ["ALL"]
          image: quay.io/openshift/origin-cluster-kube-descheduler-operator:latest
          ports:
          - containerPort: 60000
            name: metrics
          command:
          - cluster-kube-descheduler-operator
          args:
          - "operator"
          imagePullPolicy: Always
          env:
            - name: OPERATOR_POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: OPERAND_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: OPERATOR_NAME
              value: "descheduler-operator"
            - name: RELATED_IMAGE_OPERAND_IMAGE
              value: quay.io/openshift/origin-descheduler:latest
            - name: OPERAND_VERSION
              value: 5.1.0
          volumeMounts:
          - name: tmp
            mountPath: "/tmp"
      serviceAccountName: openshift-descheduler
      serviceAccount: openshift-descheduler
      volumes:
      - name: tmp
        emptyDir: {}
